:root {
    --border: black 1px solid;
}
/* Mobile layout */

#mainMenu {
    display: none;
}

.toggleMenu {
    display: block;
}

/* Desktop layout */
@media (min-width: 1024px) {
    #mainMenu {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .toggleMenu {
        display: none;
    }
}



